update_and_push.sh
build_objects.sh
node_modules/
*.db-shm
*.db-wal
resources/*
!resources/rs3_locations.json
!resources/dungeon_links.json
tools/
package.json
package-lock.json
TRANSPORT_PIPELINE_PLAN.md
